.title{
    font-size: 36px;
    font-weight: 800;
    margin: 20 20 20 0;
}
.hd_title{
    margin: 10 10 10 0;
    font-size: 24px;
    font-weight: 650;
}
.hd_con1{
    display: inline-flex;
    margin: 5 5 5 0;
    
}
.hd_con_title{
    font-weight: 600;
}
