body {
    padding: 0;
    margin: 0px;
    overflow: hidden;
}
.title{
    width: 25%;
    height: 800px;
    font-size: 36px;
    font-weight: 800;
    margin-top: 0;
    background-color: cornflowerblue;
    float: left;
    text-align: center;
    color: white;
}
.content{
    width: 75%;
    float: right;
    margin-top: 0;
    background-color: white;
}
.hd_title{
    margin: 10 10 10 0;
    font-size: 24px;
    font-weight: 650;
}
.hd_con1{
    display: inline-flex;
    margin: 5 5 5 0;
}
.hd_con_title{
    font-weight: 600;
}
.hd_con_lable{
margin-left: 5px;
}